@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* TAGS */
body{
    background: #ECECEC;
    color:#525252;
}

a{
    text-decoration: none;
    color: #525252;
}

h1,h2,h3,h4,h5,h6{
    color:#000
}

small{
    font-size: 0.8em;
}

/* GENERALS */
.loader{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: #ECECEC;
    transition: all 0.3s ease-in-out;
    top: 0;
}
.loader.hide{
    top: -100vh
}
.group-loader{
    width: 100%;
    text-align: center;
}
.group-loader > div:nth-child(1),
.group-loader > div:nth-child(1):before,
.group-loader > div:nth-child(1):after {
    background: #525252;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.group-loader > div:nth-child(1) {
    color: #525252;
    text-indent: -9999em;
    margin: 2em auto;
    position: relative;
    font-size: 10px;
    animation-delay: -0.16s;
}
.group-loader > div:nth-child(1):before,
.group-loader > div:nth-child(1):after {
    content: '';
    position: absolute;
    top: 0;
}
.group-loader > div:nth-child(1):before {
    left: -1.5em;
    animation-delay: -0.32s;
}
.group-loader > div:nth-child(1):after {
    left: 1.5em;
}
@keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
}
.capitalize{
    text-transform: capitalize;
}

.h-100{
    height: 100vh;
}

.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mt-4{
    margin-top: 40px;
}
.mt-5{
    margin-top: 50px;
}

.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-3{
    margin-bottom: 30px;
}
.mb-4{
    margin-bottom: 40px;
}
.mb-5{
    margin-bottom: 50px;
}

.mr-1{
    margin-right: 10px;
}
.mr-2{
    margin-right: 20px;
}
.mr-3{
    margin-right: 30px;
}
.mr-4{
    margin-right: 40px;
}
.mr-5{
    margin-right: 50px;
}

/* BUTTONS */

.btn{
    border: none;
    height: 30px;
    letter-spacing: 0.7px;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease-in-out;
}
    .btn > i{
        margin-right: 0.3em;
    }

    .btn:disabled,
    .btn.success:hover:disabled{
        background: #7e7d7d;
        cursor: not-allowed;
    }

    .btn.success:hover{
        background: #388e3c;
    }
    .btn.success:active{
        background: #1b5e20;
    }
    

/* FORMS INPUTS */
.form-group{
    position: relative;
    height: 40px;
    margin-top: 0.7em;
}
    .form-group label{
        position: absolute;
        left: 1em;
        top: 0.5em;
        transition: all 0.3s ease;
    }
    .form-group input{
        width: 100%;
        height: 30px;
        background: transparent;
        border:0;
        border-bottom:1px solid #555;
        outline: none;
        transition: all 0.4s ease;
        font-size: 15px;
    }
        .form-group input::placeholder{
            color: transparent;
        }
        .form-group input:focus::placeholder{
            color: #000;
        }
        .form-group input:focus{
            height: 35px;
        }

        .form-group input:focus ~ label,
        .form-group input:not(:placeholder-shown) ~ label{
            top:-0.6em;
            font-size: 11px;
        }

/* SIDEBAR and NAVBAR */
.link-item{
    display: flex;
    margin-bottom: 0.3em;
    padding:0.7em;
    transition: all 0.3s ease-in-out;
    color: #525252;
}
.link-item:hover,
.link-sub-item:hover{
    color: #fff;
    background: #1a237e;
    padding-left: 1em;
}

.link-item:hover > div:nth-child(1) > a,
.link-sub-item:hover > div:nth-child(2) > a{
    color: #fff;
}
    .link-item > div:nth-child(2){
        text-align: center;
    }

.link-sub-item{
    display: flex;
    padding-left: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    transition: all 0.3s ease-in-out;
    color: #525252;
}

.back-sidebar.hidde{
    left: -100vw;
}

.back-sidebar{
    transition: all 0.4s ease-in-out;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 100;
}

.sidebar{
    width: 100vw;
}
    .sidebar > .head{
        padding: 1em 0.5em;
        justify-content: space-between;
        display: flex;
        text-align: center;
    }
        .sidebar > .head > div:nth-child(1){
            letter-spacing: 1px;
            cursor: context-menu;
        }
        .sidebar > .head > div:nth-child(2){
            cursor: pointer;
        }

    .sidebar > .body{
        height: 100vh;
        padding-top: 1em;
    }

        .sidebar > .body > ul,
        .sidebar > .body > ul > li > ul{
            padding: 0;
        }

            .sidebar > .body > ul > li,
            .sidebar > .body > ul > li > ul > li{
                list-style: none;
            }

            .sidebar > .body > ul > li > ul:hover > li{
                display: block;
            }
            
            .sidebar > .body > ul > li > ul > li{
                display: none;
            }

.navbar{
    position: fixed;
    width: 100vw;
    padding: 1em 0em;
    display: flex;
}
.navbar > div:nth-child(1){
    padding-left: 1em;
    cursor: pointer;
    color: rgba(254, 254, 254, 0.5);
}

.navbar > div:nth-child(1):hover{
    color: rgb(254, 254, 254)
}

    .navbar-options{
        display: inline-flex;
    }
    .navbar-options > li {
        list-style: none;
        border-left: solid 1px rgba(254, 254, 254, 0.4);
        padding: 0 1em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: rgba(254, 254, 254, 0.5);
    }

    .navbar-options > li:hover{
        color: #fff;
    }

    .navbar-options > li:nth-last-child(1){
        padding-right: 0em;
    }

.navbar > div:nth-child(2){
    padding-right: 1em;
    text-align: right;
}

.navbar-user-options{
    position: absolute;
    background: #fff;
    border:solid 0.5px rgba(0,0,0,.15);
    top: 3.188em;
    right: -80vw;
    width: 80vw;
    padding: 0.5em 0em;
    transition: all 0.4s ease-in-out;
    color:#525252;
}

.navbar-options > li:hover > .navbar-user-options {
    right:0em;
}
    .navbar-user-options > li{
        list-style: none;
        padding: 0px;
    }
.navbar-user-item{
    display: flex;
    padding: 0.5em 1.5em;
    transition: all 0.3s ease-in-out;
}

    .navbar-user-item:hover{
        background: #1a237e;
        color: #fff;
        padding-left: 2em;
    }

    .navbar-user-item > div:nth-child(2){
        margin-left: 0.5em;
    }

.navbar-user-profile{
    display: flex;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: solid 0.5px rgba(0,0,0,.50);
    align-items:center;
    text-align: left;
    word-wrap: break-word;
}
    .profile-photo > img{
        width: 100%;
        border-radius: 10px;
    }
/* COLORS */
.success-light{
    background: #388e3c;
    color: #fff;
}
.success-dark{
    background: #1b5e20;
    color: #fff;
}
.success{
    background: #2e7d32;
    color: #fff;
}
/* ---- */
.info-light{
    background: #0288d1;
    color: #fff;
}
.info-dark{
    background: #01579b;
    color: #fff;
}
.info{
    background: #0277bd;
    color: #fff;
}
/* ---- */
.danger-light{
    background: #d32f2f;
    color: #fff;
}
.danger-dark{
    background: #b71c1c;
    color: #fff;
}
.danger{
    background: #c62828;
    color: #fff;
}
/* ---- */
.warning-light{
    background: #ffa000;
    color: #fff;
}
.warning-dark{
    background: #ff6f00;
    color: #fff;
}
.warning{
    background: #ff8f00;
    color: #fff;
}
/* ---- */
.primary-light{
    background: #303f9f;
    color: #fff;
}
.primary-dark{
    background: #1a237e;
    color: #fff;
}
.primary{
    background: #283593;
    color: #fff;
}
.white{
    background: #fff;
    color: #000;
}
/* ---- */
.text-white{
    color: #fff;
}
.text-black{
    color: #000;
}
.text-warning{
    color: #ef6c00;
}
.text-danger{
    color: #c62828;
}
.text-info{
    color: #0277bd;
}
.text-success{
    color: #2e7d32;
}

/* RESPONCIVE */
/* sm */
@media only screen and (min-width: 48em) {
    .sidebar{
        width: 40vw;
    }
    .navbar-user-options{
        width: 50vw;
    }
}
/* md */
@media only screen and (min-width: 64em) {
    .sidebar{
        width: 25vw;
    }

    .navbar-user-options{
        width: 35vw;
    }
}
/* lg */
@media only screen and (min-width: 75em) {
    .sidebar{
        width: 20vw;
    }
    .navbar-user-options{
        width: 20vw;
    }
}